
            
            
            /* this page styles the "content" section of the main page below the main header and nav buttons*/
            #content{
                display:flex;
                padding:0.8em;
            }
            #leftBar{
                background-color:red;
                flex:1.5;
                margin:0.8em 0.1em;
                text-align:center;
                border:0.3em inset lightgrey;
                background-image: url("picturesweb/back1.jpg");
                background-position:center;
                padding:0.2em;
                box-shadow:5px 5px 10px  black;
            }
            #middleBar{
                background-color:yellow;
                flex:4.5;
                margin:0.8em 0.1em;
                background-image: url("picturesweb/back10.jpg");
                border:0.2em outset lightgrey;
                padding:0.2em;
                box-shadow:5px 5px 10px black;
            }
            #rightBar{
                /* background-color:lemonchiffon; */
                flex:1;
                margin:0.8em 0.1em;
                text-align:center;
                border:0.2em inset grey;
                background-image: url("picturesweb/back1.jpg");
                background-position:center;
                padding:0.2em;
                box-shadow:5px 5px 10px  black;
            }
            .right-bar-picture{
                width:10em;
                border:0.2em outset lightgrey;
                margin:0.2em;
            }
            .left-bar-picture{
                width:10em;
                border:0.2em outset lightgrey;
                margin:0.2em;
                background-color:black;
            }
            .left-bar-subheading{
                color:white;
                background-color:black;
                border-radius:1em;
                border:0.2em outset lightgrey;
                margin:1em;
                padding:0.5em;
                font-size:0.8em;
                background-image: url("picturesweb/texture7.jpg");
                background-position:bottom;
            }
            .subTitleRight{
                color:white;
                background-color:black;
                border-radius:1em;
                border:0.2em outset lightgrey;
                margin:0.6em 1em;
                padding:0.5em;
                font-size:1.1em;
                background-image: url("picturesweb/texture7.jpg");
                background-position:bottom;
            }
            .subTitleLeft{
                color:white;
                background-color:black;
                border-radius:1em;
                border:0.2em outset lightgrey;
                margin:0.8em 1.5em;
                padding:0.5em;
                font-size:1.1em;
                background-image: url("picturesweb/texture7.jpg");
                background-position:bottom;
                letter-spacing: 0.3em;
            }
            .left-bar-subheading:hover{
                color:orange;
                text-decoration:none;
            }
            .left-bar-subheading:active{
                color:red;
            }
            .right-bar-picture:hover{
                border: 0.1em solid white;
                border-radius:20%;
            }
            .left-bar-picture:hover{
                border:0.2em solid white;
            }
            #carouselMain{
                background-color:black;
                text-align:center;
                padding:1em;
                background-image: url("picturesweb/back11.jpg");
                background-position:right;
                margin:1em;
                height:14em;
            }
            .carouselMainPic{
                height:6em;
                width:auto;
                border:1px solid white;
                background-color:white;
            }
            .mainPLink{
                text-decoration:none;
                color:white;
            }
            .mainPLink:hover{
                text-decoration:none;
                color:white;
                color:cadetblue;
            }
            a {
                text-decoration:none;
            }
            #carouselMainMiddle{
                background-color:black;
                text-align:center;
                padding:1em;
                background-image: url("picturesweb/texture2.jpg");
                background-position:right;
                margin:1em;
                height:14em;
            }
            .carouselMainPicMiddle{
                height:6em;
                width:auto;
                border:1px solid white;
                background-color:black;
            }
            #carouselMainBottom{
                background-color:black;
                text-align:center;
                padding:1em;
                background-image: url("picturesweb/texture10.jpg");
                background-position:right;
                margin:1em;
                height:14em;
            }
            .carouselMainPicBottom{
                height:6em;
                width:auto;
                border:1px solid white;
                background-color:orange;
            }