/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*- body profile begin -*/
.l_bgd {
  color: white;
  background-image: url("../limg/l_bgd.jpg");
}

.l_profileimg2{
  border: 1px solid white;
  border-radius: 0.2rem;
  background-image: url("../limg/l_prfhead.gif");
}

.l_profilehyperlink{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
}

.l_profilelogo1{
  width: 6rem;
  height: 6rem;
  vertical-align: top;
  border: 1px solid white;
  border-radius: 50%;
  margin: -2.5rem 3rem 0.5rem 0rem; 
}

.l_profileaudio1{
  width:12rem;
  height: 2rem ;
  background-color:none;
  color: white;
  margin-top: 12rem;
}

.l_profileimg3{
  width: 12.5rem;
  height: 18.75rem;
  border-left: 1px solid gray;
  background-image: url("../limg/l_musiccover.jpg");
  opacity: 0.8;
}

.l_profilediv{
  display: inline-block;
  margin-right: 1rem;
}

.l_profileimg4{
  width: 8.5rem;
  height: 10rem;
  margin: 0 auto;
  margin-top: -3rem;
  box-shadow: 12px 12px 2px 1px rgba(255, 145, 0,0.4);
}

.l_profileft1{
  color: black;
}

/*- body profile end -*/

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
